// margins
$marginValues: (10, 20, 30, 50);

@each $size in $marginValues {
  .mt-#{$size} {
    margin-top: #{$size}px;
  }
  .mb-#{$size} {
    margin-bottom: #{$size}px;
  }
}

// paddings
$paddingValues: (80);

@each $size in $paddingValues {
  .pt-#{$size} {
    padding-top: #{$size}px;
  }
  .pb-#{$size} {
    padding-bottom: #{$size}px;
  }
}
